{% extends "base.html" %}

{% block content %}
<h1> Acerca de </h1>
<p> Somos una organización que se dedica a la creación de contenido educativo en línea. Nuestro objetivo es proporcionar a los estudiantes una plataforma para aprender y mejorar sus habilidades en diferentes campos. </p>
<h2> Nuestro Equipo </h2>
<div class="container">
    <div class="row">
        {% for author in authors %}
            <div class="col-md-4 d-flex align-items-stretch">
                <div class="card mb-4" style="height: 100%;">
                    <img src="{{ author.image.url }}" class="card-img-top" alt="{{ author.image.url }}" style="object-fit: cover; height: 300px;">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ author.first_name }} {{ author.last_name }}</h5>
                        <p class="card-text">{{ author.bio }}</p>
                    </div>
                    <div class="card-footer mt-auto">
                        <small class="text-muted">{{ author.email_address }}</small>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}