.fade-up {
    opacity: 0;
    transform: translateY(50px);
    /* Start position off-screen */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.fade-up.visible {
    opacity: 1;
    transform: translateY(0);
    /* End position */
}